@media (max-width: 600px) {
    .img_holder {

        width: 75px !important;
        height: 100px !important;
        overflow: hidden !important;
    }
}

@media (min-width: 700px) {
    .img_holder {

        width: 180px !important;
        height: 210px !important;
        overflow: hidden !important;
    }
}


@media (min-width: 1101px) {
    .img_holder {

        width: 300px !important;
        height: 375px !important;
        overflow: hidden !important;
    }
}


.row_spacing {

    margin-top: 30px;

}