@media (max-width: 600px) {
    .img_holder {

        width: 75px !important;
        height: 100px !important;
        overflow: hidden !important;
    }
}

@media (min-width: 700px) {
    .img_holder {

        width: 200px !important;
        height: 240px !important;
        overflow: hidden !important;
    }
}


@media (min-width: 1101px) {
    .img_holder {

        width: 230px !important;
        height: 300px !important;
        overflow: hidden !important;
    }
}


.row_spacing {

    margin-top: 15px;

}