<!DOCTYPE html>

<html lang="en" data-ng-app="ngPicture2sound">
  <head>
    <meta charset="utf-8">
    <meta http-equiv-“X-UA-Compatible” content=”IE=edge”/>

    <title>Animals</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <!--[if IE 8]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <style>
            .ng-hide {
                display: none !important;
            }
        </style>
    <![endif]-->


    <!-- jquery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>

    <script src="js/utils.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>

    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>

    <script src="js/controllers.js"></script>


  </head>
  <body>

    <div class="container-fluid" data-ng-controller="MainController">

        <div class="row row_spacing">

            <div data-ng-repeat="animal in animals.slice(0,3)" class="col-xs-6 col-sm-4">

                <img class="img-thumbnail img_holder" data-ng-src="{{animal.picture}} " data-ng-click="say(animal.sound)">

            </div>

        </div>

        <div class="row row_spacing">

            <div data-ng-repeat="animal in animals.slice(3,6)" class="col-xs-6 col-sm-4">

                <img class="img-thumbnail img_holder" data-ng-src="{{animal.picture}}" data-ng-click="say(animal.sound)">

            </div>

        </div>

    </div>

    <audio id="player" controls autoplay loop>

      <source id="sound_src" src="" />
      <!--<embed src="images/modified.mp3" autostart="false" loop="false" hidden="true" />-->

    </audio>

  </body>
</html>